@model List<CNPM_NC_DoAnNhanh.Models.DonHang>

@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Admin/Layout/_LayoutAdmin.cshtml";
}


<style>
    body {
        font-family: Arial, sans-serif;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-left:50px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #343a40;
        color:white;
        margin-right:100px;
        text-align:center;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    td{
        text-align:center;
    }
    th:first-child,
    td:first-child {
        width: 5%; 
        text-align: center; 
    }

    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
    .btn-create {
        background-color: #28a745;  
        color: #fff;  
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

     
    .btn-edit {
        background-color: #007bff;  
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

   
    .btn-details {
        background-color: #17a2b8;  
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    
    .btn-delete {
        background-color: #dc3545;  
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>

<div style="margin-right:100px;">
    <div style="margin-left:50px;">
        <h1>Danh Sách Voucher</h1>
        <button class="btn-create">
            <a asp-action="">Thêm Đơn Hàng</a>
        </button>
    </div>
    <table>
        <thead>
            <tr>

                <th>Ngày Đặt Hàng</th>
                <th>Tình Trạng Đơn Hàng</th>
                <th>Tên Người Nhận</th>
                <th>Địa Chỉ Nhận</th>
                <th>Hình Thức Thanh Toán</th>
                <th>Giao Hàng</th>
                <th>Tổng Tiền</th>
            </tr>
        </thead>
        @foreach (var donHang in Model)
        {
            <tr>

                <td>@donHang.NgayDatHang</td>
                <td>
                    @{
                        if (donHang.TinhTrangDonHang == true)
                        {
                            <p>
                                <button> @Html.ActionLink("Hủy Đơn Hàng", "Xacnhan", new { id = donHang._id }) </button>
                            </p>
                        }
                        else if (@donHang.TinhTrangDonHang == false)
                        {
                            <p>
                                <button> @Html.ActionLink("Xác nhận đơn hàng", "Xacnhan", new { id = donHang._id }) </button>
                            </p>
                        }
                    }
                </td>
                <td>@donHang.TenNguoiNhan</td>


                <td>@donHang.DiaChiNhan</td>
                <td>
                    @{
                        if (@donHang.HinhThucThanhToan == false)
                        {
                            <div style="color:red">Thanh toán chuyển khoản</div>
                        }
                        else if (@donHang.HinhThucThanhToan == true)
                        {
                            <div style="color:brown">Thanh toán tiền mặt</div>
                        }
                    }
                </td>
                <td>
                    @{
                        if (@donHang.DaGiao == false)
                        {
                            <button> @Html.ActionLink("Chưa Giao", "Xacnhan_kh", new { id = donHang._id }) </button>

                        }
                        else if (@donHang.DaGiao == true)
                        {
                            <button> @Html.ActionLink("Đã Giao", "Xacnhan_kh", new { id = donHang._id }) </button>

                        }
                    }
                </td>
                <td>@donHang.TongTien</td>
            </tr>

        }
    </table>
</div>