<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @* @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @*<link rel="stylesheet" href="~/wwwroot/css"/>
    <script src="~/bundles/modernizr"></script>*@
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/js/cart.js"></script>
    <script src="https://kit.fontawesome.com/c0b1a641d5.js" crossorigin="anonymous"></script>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin:-8px;
        }

        .header {
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: white;
            height: 80px;
            box-shadow: 0px 3px orangered;
        }

            .header .main_header {
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-content: center;
                align-items: center;
            }

        .nav_header {
            text-align: center;
        }

        .nav_list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .nav_header ul li {
            font-size: 22px;
            margin-right: 100px;
        }

            .nav_header ul li:hover {
                color: orangered;
                cursor: pointer;
            }

        .icon_search {
            font-size: 25px;
            margin-right: 10px;
            padding-top:10px;
        }

            .icon_search:hover {
                cursor: pointer;
                color: orangered;
            }

        .fa-user {
            font-size: 25px;
            margin-right: 10px;
            color: black;
            padding-top:10px;
        }

            .fa-user:hover {
                cursor: pointer;
                color: orangered;
            }

        .container {
        }

        .ahrf {
            text-decoration: none;
        }

        .option {
            color:black;
            text-decoration:none;
        }

            .option:hover {
                cursor: pointer;
                text-decoration: none;
                color: orangered;
            }
            .option::after {
                color: orangered;
            }

        .dropdown-list {
            display: none;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2);
            padding: 8px;
            list-style: none;
            margin: 0;
            border-radius: 10px;
            z-index: 1;
            top: 40px;  
        }

        .user-info:hover .dropdown-list {
            display: block;
        }

        /* Chỉnh CSS cho cặp nút giỏ hàng và dropdown */
        .user-cart {
            display: flex;
            align-items: center;
        }

        .cart-icon {

            margin-left: auto; /* Đẩy nó về phía bên phải */

            margin-left: auto; 
        }

        .drop{
            text-decoration:none;
        }


        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        section {
            padding: 20px;
        }

        .footer-container {
            display: flex;
            justify-content: space-between;
        }

        .footer-left, .footer-right {
            flex: 1;
            padding: 0 20px;
        }

            .footer-right a {
                color: #fff;  
            }
    </style>
</head>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<body>
    <div class="header">
        <div class="main_header">
            <a href="~/Home/Index"><img src="~/Image/Logo.png" style="object-fit: cover; width: 80px; padding-top: 10px" /></a>
            <div class="nav_header">
                <ul style="display: flex; list-style: none; padding-top: 10px;">
                    <li><a href="~/PhanLoai/DanhSachSanPhamTheoDanhMuc/653b94a68c2a5169fe4b8241" class="option">Đồ ăn</a></li>
                    <li><a href="~/PhanLoai/DanhSachSanPhamTheoDanhMuc/653b949e8c2a5169fe4b823f" class="option">Đồ uống</a></li>
                    <li><a href="~/PhanLoai/DanhSachSanPhamTheoDanhMuc/653b94ab8c2a5169fe4b8244" class="option">Combo</a></li>
                    <li><a href="#" class="option">Liên Hệ</a></li>
                </ul>
            </div>

            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm..." />
                <button type="submit"><i class="fas fa-search search-icon"></i></button>
            </div>
        
            <div class="login-register">
                <a href="/Login/Login"><i class="fas fa-user"></i></a>
            </div>
                <a href="~/GioHang/Index" class="fa fa-shopping-cart" style="padding-top:20px; font-size:25px; color:black;"></a>
            </div> 
=======
            <div class="search-bar" style="padding: 7px;border-radius: 20px;">
                <input style="padding: 10px 2px; border-radius: 4px;border-color: orangered;" type="text" placeholder="Tìm kiếm..." />
                <button style="    background-color: orangered;color: white; padding: 12px; border-radius: 6px; border: 0;" type="submit">
                    <i class="fas fa-search search-icon"></i>
                </button>
            </div>
            <div class="user-actions">
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserName") == null)
                {
                    <a href="/Login/Login"><i class="fas fa-user"></i></a>
                }
            </div>
            <div class="user-cart">
                @if (@HttpContextAccessor.HttpContext.Session.GetString("UserName") != null){
                <div class="user-info" id="userDropdown">
                        <span style="margin-right: 30px;font-size: 20px;">Hello! @HttpContextAccessor.HttpContext.Session.GetString("UserName")</span>
                    <ul class="dropdown-list">

                            <li><a href="#" class="drop">Thông Tin Cá Nhân</a></li>

                            <li><a href="~/User/Info/@HttpContextAccessor.HttpContext.Session.GetString("UserID")" class="drop">Thông Tin Cá Nhân</a></li>

                        <li><a href="~/User/Index_DH/@HttpContextAccessor.HttpContext.Session.GetString("UserID")" class="drop">Đơn Hàng Đã Đặt</a></li>
                            <li><a href="~/Login/Logout" class="drop">Đăng Xuất</a></li>
                    </ul>
                </div>
                }
                <div class="cart-icon">
                    <a href="~/GioHang/Index" class="fa fa-shopping-cart" style="font-size: 25px; color: black;"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <hr />


        <footer style="margin-top: 170px;">
            <div class="footer-container">
                <div class="footer-left">
                    <p>&copy; 2023 KFC Vietnam</p>
                    <hr />
                    <p>CÔNG TY LIÊN DOANH TNHH KFC VIỆT NAM</p>
                    <p>Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội.</p>
                    <p>Điện thoại: (028) 38489828</p>
                    <p>Email: <a href="mailto:lienhe@kfcvietnam.com.vn">lienhe@kfcvietnam.com.vn</a></p>
                    <p>Mã số thuế: 0100773885</p>
                    <p>Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nội</p>
                </div>
                <div class="footer-right">
                    <p><a href="#">Chính sách</a></p>
                    <p><a href="#">Chính sách hoạt động</a></p>
                    <p><a href="#">Chính sách và quy định</a></p>
                    <p><a href="#">Chính sách bảo mật thông tin</a></p>
                    <p><a href="#">Download App</a></p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

