@model List<CNPM_NC_DoAnNhanh.Models.ChucVu>   
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Admin/Layout/_LayoutAdmin.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-left:50px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #343a40;
        width:10px;
        margin-right:100px;
        text-align:center;
        color: white;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    td{
        text-align:center;
    }
    th:first-child,
    td:first-child {
        width: 5%; 
        text-align: center; 
    }

    .btn-create {
        background-color: #28a745;  
        color: #fff;  
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

     
    .btn-edit {
        background-color: #007bff;  
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

   
    .btn-details {
        background-color: #17a2b8;  
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    
    .btn-delete {
        background-color: #dc3545;  
        color: #fff;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
</style>

<div class="container mt-4">

<div style="margin-right:100px;">
    <div style="margin-left:50px;">
        <h1>Danh Sách Chức Vụ Nhân Viên</h1>
        <button class="btn-create">
            <a asp-action="Create">Thêm Chức Vụ</a>
        </button>
    </div>
        <form asp-controller="ChucVu" asp-action="Index" method="get">
            <div>
                <label for="keyword">Tìm Kiếm:</label>
                <input type="text" id="keyword" name="keyword" value="@ViewBag.Keyword" style="border: none; outline: none; padding: 5px; width: 150px;" />
                <button type="submit">
                    <i class="fas fa-search"></i> Tìm kiếm
                </button>
            </div>
        </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Chức Vụ</th>
                <th>Tổng Số Lượng</th>
                <th></th>
            </tr>
        </thead>
     
        @foreach (var item in Model)
        {
            <tr>
                <td>@(Model.IndexOf(item) + 1)</td>
                <td>@item.TenCV</td>
                <td>2</td>
                <td>
                    <a class="btn-edit" asp-action="Edit" asp-route-id="@item._id">Chỉnh Sửa</a>

                    <a class="btn-details" asp-action="Details" asp-route-id="@item._id">Chi Tiết</a>

                    <a class="btn-delete" asp-action="Delete" asp-route-id="@item._id">Xóa</a>
                </td>
            </tr>

        }
    </table>
    </div>
</div>