@using MongoDB.Driver;
@model IEnumerable<CNPM_NC_DoAnNhanh.Models.CTDH>

<!DOCTYPE html>
<html>
<head>
    <title>Chi Tiết Đơn Hàng</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h2>Chi Tiết Đơn Hàng</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Ngày Đặt Hàng</th>
                <th>Tên SP</th>
                <th>Số Lượng</th>
                <th>Gía Sản Phẩm</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Getngaydathang(item.MaDH)</td>
                    <td>@GetTenSanPham(item.MaSP)</td>
                    <td>@item.SoLuong</td>
                    <td>@item.GiaSP</td>
                    <td>@(item.SoLuong * item.GiaSP)</td>
                </tr>
            }
            <tr >
                <td colspan="3" style="text-align:center">Tổng:</td>
                <td>@Model.Sum(b => b.SoLuong)</td>
                <td>@Model.Sum(b => b.GiaSP)</td>
            </tr>
 
        </tbody>
    </table>
</body>
</html>

@inject IMongoDatabase _database
@functions {
    // Define the GetTenLoaiSanPham method in the view
    string Getngaydathang(string MADH)
    {
        var phanLoaiCollection = _database.GetCollection<DonHang>("DonHang");
        var filter = Builders<DonHang>.Filter.Eq("_id", MADH);
        var projection = Builders<DonHang>.Projection.Include("NgayDatHang");
        var result = phanLoaiCollection.Find(filter).Project(projection).FirstOrDefault();
        if (result != null)
        {
            return result["NgayDatHang"].AsDateTime.ToString("yyyy-MM-dd HH:mm:ss");
        }

        return "Không tìm thấy đơn hàng";
    }
}


@inject IMongoDatabase _database
@functions {
    string GetTenSanPham(string masp)
    {
        var phanLoaiCollection = _database.GetCollection<DoUong>("DoUong");
        var filter = Builders<DoUong>.Filter.Eq("_id", masp);
        var projection = Builders<DoUong>.Projection.Include("TenDoUong");

        var result = phanLoaiCollection.Find(filter).Project(projection).FirstOrDefault();

        if (result != null)
        {
            return result["TenDoUong"].AsString;
        }
        return "Không tìm thấy  sản phẩm";
    }
}
