@model List<CartItem>
 
<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ten</td>
                <td>@item.Dongia</td>
                <td>
                    <form asp-action="UpdateQuantity" asp-route-productId="@item.MaSP">
                        <input type="number"  min="1" max="100">
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>@(item.Dongia * item.Soluong)</td>
                <td><a asp-action="RemoveFromCart" asp-route-productId="@item.MaSP">Remove</a></td>
            </tr>
        }
    </tbody>
</table>

<div>Total: @Model.Sum(item => item.Dongia * item.Soluong)</div>

<a asp-action="Checkout">Checkout</a>
