@model CNPM_NC_DoAnNhanh.Models.DoUong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
<a asp-action="Index">Back to List</a>
</div>
<style>
    .content-left{
        float:left;
    }
    .content-right{
        float:right;
    }

</style>

<div>
    <div class="content-left">
        <img src="@Model.Img" alt="Hình ảnh" width="500" height="500" />
    </div>
    <div class="content-right">
        <div>
                @Html.DisplayFor(model => model.TenDoUong) - @Html.DisplayFor(model => model.GiaTien) VNĐ Đồng.
            </div>
            <div>
                Kích cỡ: @Html.DisplayFor(model => model.Size) -  Số lượng còn: @Html.DisplayFor(model => model.SoLuong).
            </div>
        <form asp-controller="GioHang" asp-action="AddToCart" method="post">
                <input type="hidden" name="productId" value="@Model._id" />
                <input type="hidden" name="productName" value="@Model.TenDoUong" />
                <input type="hidden" name="price" value="@Model.GiaTien" />
                <input type="number" name="quantity" value="1" />
                <button type="submit"> Thêm giỏ hàng</button>
            </form>
    </div>
</div>
 


 

