@model IEnumerable<CNPM_NC_DoAnNhanh.Models.Vourcher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTriVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTriVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
